.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imageContainer {
  flex: 1;
  height: 240px;
  position: relative;
}

.image {
  width: 100%;
}
.title{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
  text-transform: capitalize;
}

.desc {
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}
